/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#popupContent {
  overflow: hidden;
}

#filter {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  z-index: 1000;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

input[type="date"] {
  font-family: "Open Sans", sans-serif;
}